<html>
    <head>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>about</title>
    </head>
    <body>
        <div class='main-content'>
            {{>header}} 
            <img class="portrait" src="/img/developer img.webp">
        </div>
       
       {{>footer}}
    </body>
</html>